data
ninterpolation/config/__pycache__
ninterpolation/utils/__pycache__/video_image.cpython-39.pyc
ninterpolation/utils/__pycache__/__init__.cpython-39.pyc
output_images
output_video
test.mp4
data
ninterpolation/utils/__pycache__/
